@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-active: #F2DAC2;
    --active: #977656;
    --dark: #050505;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  
  color: var(--light-active);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}